:root{
    --color-body: #f6f6f6;
    --color-white: #ffffff;
    --color-off-black: #2c4755;
    --color-green: #10cab7;
    --font-line-height: 30px;
    --color-shadow-up: #2c475580;
    --color-shadow-down: #ffffff;
    --font-bold: 'Fjalla One', sans-serif;
    --color-portfolio: #ebeced;
}
* , html{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
body{
   /*  background-color: var(--color-body) */
}
/* Start Header */
.header{
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
    
    
}
.header .contener{
    width: calc(100% - 250px);
    height: 80px;
    padding: 0px 10px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    
}
.header .contener .logo{
    width: 40px;
}
.header .contener .link{
    width: 30px;
    display: flex;
    justify-content: center;
    
}
.header .contener .link .icon{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   justify-content: flex-end;
}
.header .contener .link .icon span{ 
    background-color: var(--color-off-black);
    width: 100%;
    height: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: all  .3s;
}
.header .contener .link .icon .open{
    width: 100%;
}
.header .contener .link .iconTransform span{
    margin: 0px;
    transition: all .3s;
}
.header .contener .link .iconTransform span:first-child{
    transform: rotate(47deg);
    width: 35px;
}
.header .contener .link .iconTransform span:nth-child(2){
    display: none;
}
.header .contener .link .iconTransform span:last-child{
    transform: rotate(134deg);
    width: 35px;
}
.header .contener .link .icon span:last-child{
    margin-bottom: 0px;
}
.header .contener .link .nav{
    background-color: var(--color-white);
    position: absolute;
    top: 80px;
    right: 20px;
    display: none; 
    width: 150px;
}
.header .contener .link .open{
    display: block;
}
.header .contener .link .nav li{
    list-style: none;
    
}
.header .contener .link .nav li:hover a {
  padding-left: 30px;
  color: var(--color-green);
}
.header .contener .link .nav li a{
    font-size: 1em;
    text-decoration: none;
    color: var(--color-off-black);
    transition: 0.3s; 
    padding: 15px 13px;
    display: block;
    font-size: 1.5em;
    border-bottom: 0.1px var(--color-body) solid;
    
}
/* .header .contener .link .nav li:last-child a{
    border-bottom: 0px;
} */
/* End Header */
/* Start home */
.home{
   background-image: linear-gradient(var(--color-shadow-up),var(--color-shadow-down)),url(../img/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    text-align: center;
    padding: 0px 10px;
}
.home h1{
    color: var(--color-green);
    font-size: 3em;
    font-family: var(--font-bold);
    margin-top: 90px;
    
}
.home p{
    color: var(--color-off-black);
}
.home p span{
    display: block;
    text-align: center;
    line-height: var(--font-line-height);
}
/* End home */
/* Start Twxt Playlis */
.text_playlist {
    color: var(--color-off-black);
    line-height: 1;
    text-align: center;
    padding: 50px 0px;

}
.text_playlist span{
    color: var(--color-body);
    display: block;
    font-size: 6em;
    font-family: var(--font-bold);
}
.text_playlist .color{
    color: var(--color-portfolio);
}
/* End Twxt Playlis */
/* Start services */
.services{
    background-color: var(--color-white);
    padding: 90px 0px;
}
.services .up{
    width: 1000px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(175px, 1fr));   
}
.services .up div{
    text-align: center;
    margin: 0px 5px;
    padding: 15px 15px;
    /*box-shadow: 0px 0px 7px -3px var(--color-shadow);*/
}
.services .up div i{
    color: var(--color-green);
    font-size: 2em;
    

}
.services .up div h1{
    color: var(--color-off-black);
    font-weight: bold;
    font-family: var(--font-bold);
  

}
.services .up div p{
    color: var(--color-off-black);
    line-height: var(--font-line-height);
}
.services .text_playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 0px;
}
.services .down{
    width: 780px;
    padding: 25px 20px;
    margin: 0px auto;
    display: grid;
    gap: 10px;
}

.services .down i{
    color: var(--color-green);
    font-size: 1.5em;
}
.services .down h2{
    color: var(--color-off-black);
    font-family: var(--font-bold);
}
.services .down p{
    color: var(--color-off-black);
    line-height: var(--font-line-height);
}
.services .down i:nth-child(1){
    grid-column: 1;
    grid-row: 1/3;
}
.services .down h2:nth-child(2){
    grid-column: 2;
    grid-row: 1;
}
.services .down p:nth-child(3){
    grid-column: 2;
    grid-row: 2;
}
.services .down i:nth-child(4){
    grid-column: 1;
    grid-row: 3/5;
}
.services .down h2:nth-child(5){
    grid-column: 2;
    grid-row: 3;
}
.services .down p:nth-child(6){
    grid-column: 2 ;
    grid-row: 4;
}
.services .down i:nth-child(7){
    grid-column: 3;
    grid-row: 1/3;
}
.services .down h2:nth-child(8){
    grid-column: 4;
    grid-row: 1 ;
}
.services .down p:nth-child(9){
    grid-column: 4;
    grid-row: 2;
}
.services .down i:nth-child(10){
    grid-column: 3;
    grid-row: 3/5;
}
.services .down h2:nth-child(11){
    grid-column: 4;
    grid-row: 3;
}
.services .down p:nth-child(12){
    grid-column: 4;
    grid-row: 4;
}
.services .down .imgdown{
    grid-column: 5;
    grid-row: 1/5;
   position: relative;
}

.services .imgdown div::after{
    content: "";
    position: absolute;
    width: 48%;
    height: calc(100% - 4px + 50px);
    top: -25px;
    right: -31px;
    background-color: var(--color-off-black);
}

.services .imgdown div img{
    width: 233px;
    position: relative;
    z-index: 1;
    
}
/* End Services */
/* Start Portfolio */
.portfolio{
    padding: 40px 0px 90px;
    background-color: var(--color-body)
}
.portfolio .contener{
    width: 1000px;
    margin: 0px auto ;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.portfolio .contener div img{
    max-width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}
.portfolio .contener div div{
    background-color: var(--color-white);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
    margin-top: -4px;
}
.portfolio .contener div div h2{
    color: var(--color-off-black);
    padding: 0px 0px 15px;
}
.portfolio .contener div div p{
    color: var(--color-off-black);
    line-height: var(--font-line-height);
}
/* Start Portfolio */
/* End Portfolio */